.add-park {
    padding: 1%;
    width: 80%;
    height: 85%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #414f47;
    background: rgb(255,255,255,0.9);
    border-radius: 5px;
    box-shadow: 0px 20px 11px -18px rgb(255,255,255,0.5);
 }
 #description {
     font-size: 18px;
     padding: 1%;
 }
 .add-park-select-container {
        color:white;
        background: rgb(65, 79, 71,0.9);
        border-bottom: 1px solid rgb(255,255,255,0.3);
        padding: 2%;
        transition-property: all;
        transition-duration: .5s;
        transition-timing-function: linear;
 }
 .add-park-select-container:hover {
    cursor: pointer;
    background: rgb(65, 79, 71,0.5);
 }
.options-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10px;
    
}

 .add-park-form {
     min-height: 400px;
     padding-top: 100px;
     width: 100%;
     background: url('../images/Mt_Shasta.jpeg');
     background-size: cover;
     padding-bottom: 70px;
     animation: fadeIn .75s;
 }

@keyframes fadeIn{
    0% {
       opacity: 0.3
    }
    100% {
        opacity: 1
    }
}
 #add-park-header {
     font-family: 'Lobster';
     width: 85%;
     margin-left: auto;
     margin-right: auto;
     color: #414f47;
 }
 .input-container {
     display: flex;
     flex-direction: column;
     width: 85%;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 10px;
     padding: 1%;
 }
 .input-container > label {
     padding-bottom: .5%;
     font-size: 18px;
     color: #414f47;
 }
.add-park-label {
    padding-bottom: .5%;
    font-size: 18px;
    color: #414f47;
 }
 .input-container > input {
     height: 25px;
     font-size: 18px;
     border-radius: 5px;
     border: 2px solid #414f47;
 }
 .button-container {
     width: 85%;
     margin-left: auto;
     margin-right: auto;
     padding-bottom: 20px;
 }
 .button-container > button {
     background: #414f47;
     color: white;
     width: 100px;
     height: 30px;
     border-radius: 5px;
     transition: .5s linear all;
     font-size: 16px;
    
 }
 .button-container > button:hover {
     cursor: pointer;
     color: #414f47;
     background: white;
     transform: scaleY(1.05);
     transform: scaleX(1.05);
 }
 @media only screen and (min-width: 720px){
     .signup {
         width: 50%;
     }
     .add-park {
         width: 65%;
     }
 }