.comment-input-container {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 1%;
}
.comment-input-container > label {
    padding-bottom: .5%;
    font-size: 18px;
    color: #414f47;
}
#comment-header {
    font-family: 'Lobster';
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    color: #414f47;
}
.comment-input-container > input {
    height: 25px;
    font-size: 18px;
    border-radius: 5px;
    border: 2px solid #414f47;
}
.comment-input-container > textarea {
    border-radius: 5px;
    border: 2px solid #414f47;
}
.comment-form {
    width: 85%;
    margin-left: auto;
    background: rgb(255,255,255,0.7);
    margin-right: auto;
    border: 2px solid #414f47;
    border-radius: 5px;
    box-shadow: 0px 3px 2px -1px #414f47;
}

@keyframes fadeIn{
   0% {
      opacity: 0.3
   }
   100% {
       opacity: 1
   }
}