#search-label {
    color: white;
}
#search-input {
    width: 75%;
}
.park-name, .park-location {
    color: white;
}
.activity-select {
    width: 25%;
    height: 30px;
    font-size: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: column;
    width: 100px;
    animation: growDown .4s;
    transform-origin: top center;
}
@keyframes growDown {
    0% {
      transform: scaleY(0)
    }
    100% {
      transform: scaleY(1)
    }
  }

#chevron-up {
    animation: fadeIn .5s;
}
@keyframes fadeIn {
    0% {
        opacity: .1;
    }
   
    100% {
        opacity: 1;
    }
}

#activity-button {
    width: 120px;
    height: 40px;
    font-size: 18px;
    color: #414f47;
    font-weight: 500;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 2px solid rgb(40, 49, 44);
    color: rgb(40, 49, 44);
    transition: .5s linear;
}

#activity-button:hover {
    cursor: pointer;
    background: rgb(65, 79, 71);
    border: 1px solid white;
    color: white;
    transform: scale(1.03,1.03)
}
.select-container {
    color:white;
    background: rgb(65, 79, 71,0.9);
    border-bottom: 1px solid rgb(255,255,255,0.3);
    padding: 2%;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: linear;
    z-index: 1;
}
.select-container:hover {
    cursor: pointer;
    background: rgb(65, 79, 71,0.5)
}
.activity-label {
    padding: 1%;
    font-size: 18px;
}
.activity-label:hover {
    cursor: pointer;
}
.activity-select {
    width: 100%;
}
input {
    color: none;
    background: none;
}
.margin {
    animation: .3s slideDown;
    margin-bottom: 160px;
}
@keyframes slideDown {
    0% {
        margin-bottom: 0px;
    }
    100% {
        margin-bottom: 160px; 
    }
}
@media only screen and (min-width: 520px){
    .activity-container {
        width: 500px;
    }
}