
.search-form {
    /* background: rgb(65, 79, 71, 0.8); */
    height: 200px;
    text-align: center;
}
#form-submit-button {
    width: 120px;
    height: 30px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
}
#form-submit-button:hover {
    cursor: pointer;
}
@media only screen and (min-width: 520px){
    .search-form {
        text-align: left;
    }
}



