
.search-form {
    /* background: rgb(65, 79, 71, 0.8); */
    height: 200px;
    text-align: center;
}
@media only screen and (min-width: 520px){
    .search-form {
        text-align: left;
    }
}



