.signup {
    padding: 1%;
    width: 85%;
    height: 85%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #414f47;
    background: rgb(255,255,255,0.9);
    border-radius: 5px;
    box-shadow: 0px 20px 11px -18px rgb(255,255,255,0.5);
 }
 .signup-form {
     min-height: 400px;
     padding-top: 100px;
     width: 100%;
     background: url('../images/carpet.jpg');
     background-size: cover;
     padding-bottom: 70px;
     animation: fadeIn .75s;
 }

@keyframes fadeIn{
    0% {
       opacity: 0.3
    }
    100% {
        opacity: 1
    }
}
 #signup-header {
     font-family: 'Lobster';
     width: 85%;
     margin-left: auto;
     margin-right: auto;
     color: #414f47;
 }
 .input-container {
     display: flex;
     flex-direction: column;
     width: 85%;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 10px;
     padding: 1%;
 }
 .input-container > label {
     padding-bottom: .5%;
     font-size: 18px;
     color: #414f47;
 }
 .input-container > input {
     height: 25px;
     font-size: 18px;
     border-radius: 5px;
     border: 2px solid #414f47;
 }
 .button-container {
     width: 85%;
     margin-left: auto;
     margin-right: auto;
     padding-bottom: 20px;
 }
 .button-container > button {
     background: #414f47;
     color: white;
     width: 100px;
     height: 30px;
     border-radius: 5px;
     transition: .5s linear all;
     font-size: 16px;
    
 }
 .button-container > button:hover {
     cursor: pointer;
     color: #414f47;
     background: white;
     transform: scaleY(1.05);
     transform: scaleX(1.05);
 }
 @media only screen and (min-width: 720px){
     .signup {
         width: 50%;
     }
 }