#park-name-input {
    background: white;
    height: 30px;
    color: rgb(40,40,40);
    border-radius: 5px;
    padding-left: .5%;
    font-size: 18px;
    border: 1px solid #414f47;
    
}
.park-name {
    margin-bottom: 15px;
}