#park-list-header {
    font-family: 'Lobster';
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    color: #414f47;
    margin-bottom: 0;
    
}
#park-list-header-p {
    width: 90%;
    margin-top: 0;
    color: #414f47;
    margin-left: auto;
    margin-right: auto;
}
.park-list-section {
    padding: 1%;
    background: rgb(255,255,255,0.8);
    width: 85%;
    height: 85%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #414f47;
    border-radius: 5px;
    box-shadow: 6px 6px 5px -2px  #414f47;
 }
 .park-list-link {
     color: rgb(255,255,255,0.95);
     font-size: 18px;
     text-decoration: none;
     transition: all .25s linear;
 }
 .park-list-link:hover {
     color: rgb(252, 239, 221);
     font-size: 18.1px;
 }
 .park-list-item {
     width: 100%;
     padding-top: 1.25%;
     padding-bottom: 1.25%;
     margin: 0;
     border-bottom: 1px solid rgb(255,255,255,0.3);
     transition: all .5s linear
 }
 .park-list-item:hover {
     transform: translateY(2px);
     border-bottom: 1.3px solid white;
 }
 #back-span {
     border: 1px solid rgb(65, 79, 71, 0.8);
     border-radius: 4px;
     position: absolute;
     z-index: 3;
     padding: .35%;
     display: inline-block;
     margin-left: 8px;
     margin-bottom: 5px;
     color: rgb(65, 79, 71);
     animation: slowFadeIn 1s;
     box-shadow: 1px 1px 1px rgb(0,0,0,0.6);
 }
 #back-span::before{
    content: " ";
    position: absolute;
    top: 60%;
    right: 100%; 
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgb(65, 79, 71, 0.9) transparent transparent;
    animation: slowfadeIn 1s;
 }
 @keyframes slowFadeIn {
     0% {
         opacity: 0;
     }
     100% {
         opacity: 1;
     }
 }

 .park-list {
    min-height: 450px;
    padding-top: 100px;
    width: 100%;
    padding-bottom: 25px;
    background: rgb(255,255,255,0.7);
    background: url('../images/2D4312E3-E957-420F-BCD1-D2D07E482652.jpeg');
    background-size: cover;
    background-attachment: fixed;
}
#tree-icon {
    color: rgb(65, 79, 71, 0.9);
    background: white;
    border-radius: 50%;
    padding: .25%;
    margin-right: 10px;

}
.park-list-list {
    background: rgb(40, 49, 44,0.9);
    border-radius: 5px;
    list-style: none;
    padding: 1% 2%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (min-width: 520px){
    .park-list-list{
        width: 75%;
    }
}
