.nav {
    height: 50px;
    background-color: #414f47;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.nav-list {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
}
.nav-list-item {
    margin-right: 5px;
}

.nav-link {
    color: white;
    text-decoration: none;
    transition-property: all;
    transition-timing-function: linear;
    transition-duration: .5s;
}
.nav-link:hover {
    color: blanchedalmond;
}
.nav-icon {
    color: ivory;
}
@media only screen and (min-width: 520px){
    .nav-list-item {
        margin-right: 10px;
    }
}